.answersBoard {
  display: flex;
  flex-direction: column;
}

.correct {
  background-color: lightseagreen;
}

.wrong {
  background-color: lightcoral;
}

.metronomeNumberInput {
  width: 25rem;
  padding: 1rem;
  border-radius: 1rem;
}
